project.razor.json
Result.assets.cache
Result.csproj.AssemblyReference.cache
Result.GeneratedMSBuildEditorConfig.editorconfig
project.razor.json
Vote.assets.cache
Vote.csproj.AssemblyReference.cache
Vote.GeneratedMSBuildEditorConfig.editorconfig
Worker.assets.cache
Worker.csproj.AssemblyReference.cache
Worker.GeneratedMSBuildEditorConfig.editorconfig
Worker.assets.cache
Worker.csproj.AssemblyReference.cache
.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Code.AssemblyInfo.cs
Code.AssemblyInfoInputs.cache
Code.csproj.AssemblyReference.cache
Code.GeneratedMSBuildEditorConfig.editorconfig
Code.GlobalUsings.g.cs
Code.RazorAssemblyInfo.cache
Code.RazorAssemblyInfo.cs
project.razor.json

node_modules/
.vscode/